{% extends 'base.html.twig' %}

{% block title %}
ADMIN PANEL
{% endblock %}

{% block main %}
    <div class="columns margin-top">
        <div class="column">
            <h1 class="text-center">Admin Panel</h1>
            <div class="columns">
                <div class="column text-center">
                    <h2>Routes Management</h2>
                </div>
                <div class="column text-center">
                    <h2>Flights Management</h2>
                </div>
                <div class="column text-center">
                    <h2>Users Management</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

