{% extends 'base.html.twig' %}

{% block title %}Sign up{% endblock %}

{% block main %}
    <main>
        <section class="form-wrapper" data-aos="fade-down">
            <form id="form" method="post" enctype="multipart/form-data">
                <div class="form" id="animate">
                    <div class="form-header">
                        <a class="form-section" href="">
                            <h3 class="text-center">SIGN IN</h3>
                        </a>
                        <a class="a-form-section" href="">
                            <h3 class="text-center">SIGN UP</h3>
                        </a>
                    </div>
                    <div class="form-content">
                        <h1 class="form-text text-center">Welcome on board!</h1>
                        <div class="form-group text-center">
                            <label class="file-input" for="input-img">+</label>
                            <p class="file-description">Upload a profile picture</p>
                            <input type="file" id="input-img" style="display: none;" placeholder="Profile Picture" name="user[image][file]"/>
                        </div>
                        <div class="form-group-2">
                            <input class="small" type="text" placeholder="Title" name="user[title]"/>
                            <input class="large" type="text" placeholder="Name" name="user[fullName]"/>
                        </div>

                        <div class="form-group">
                            <input type="text" placeholder="Email" name="user[email]"/>
                        </div>

                        <div class="form-group">
                            <input type="password" placeholder="Password" name="user[password][first]"/>
                        </div>

                        <div class="form-group">
                            <input type="password" placeholder="Repeat Password" name="user[password][second]"/>
                        </div>

                        {{ form_row(form._token) }}

                        <div class="form-group text-center">
                            <button id="test-btn" type="submit" class="btn-fill">Sign up</button>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </main>
{% endblock %}
{#Classes that can be added to input: error/success#}
{#<p class="error-msg">You are not supposed to do that.</p>#}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/form.js') }}"></script>
{% endblock %}