<link rel="stylesheet" href="{{ absolute_url('css/site.css') }}">
<main>
    <section class="form-wrapper" data-aos="fade-down">
        <div class="form">
            <div class="form-header">
                <div class="a-form-section">
                    <h3 class="text-center">PASSWORD RESET LINK</h3>
                </div>
            </div>
            <div class="form-content text-center">
                <h1 class="error-msg">Follow this link to reset your password:</h1>
                <a href="{{ url('password_reset_action', {authString: auth.authString}) }}" class="margin-top">
                    <button class="btn-fill btn-wide">Reset password</button>
                </a>
            </div>
        </div>
    </section>
</main>