<html lang="en">
<main>
    <div style="padding-top: 20px; padding-bottom: 20px; background-color: #272727; text-align: center; font-family: 'Microsoft JhengHei UI Light', sans-serif;">
        <div style="display: flex; color: white; margin-left: 20px;">
            <img src="https://www.stlouisdowntownairport.com/wp-content/uploads/2014/02/plane-icon2.png"
                 width="35px"
                 height="35px" alt=""/>
            <p style="font-size: 26px">Plovdiv Airport</p>
        </div>
        <h1 style="color: #ff413f;">Follow this link to reset your password:</h1>
        <a href="{{ url('password_reset_action', {authString: auth.authString}) }}"
           style="
                text-decoration: none;
                text-underline: none;
                width: 250px !important;
                display: inline-block;
                font-size: 32px;
                height: 50px;
                border: 2px solid transparent;
                background: #54a0ff;
                color: white;
                cursor: pointer;
                transition: 0.2s ease-in-out;
                margin-bottom: 5px;">
            Reset password
        </a>
    </div>
</main>
</html>