{% extends 'base.html.twig' %}

{% block title %}Email sent{% endblock %}

{% block main %}
    <main>
        <section class="form-wrapper" data-aos="fade-down">
            <div class="form" id="animate">
                <div class="form-header">
                    <div class="a-form-section">
                        <h3 class="text-center">PASSWORD RESET</h3>
                    </div>
                </div>
                <div class="form-content text-center">
                    <h1 class="error-msg">{{ message }}{{ app.user.email }}</h1>
                    <a href="{{ path('user_profile') }}" class="margin-top">
                        <button class="btn-fill btn-wide">Back to profile</button>
                    </a>
                </div>
            </div>
        </section>
    </main>
{% endblock %}