<style>
    .danger {
        color: #ff413f;
    }

    .margin-top {
        margin-top: 15px;
    }

    .btn-fill {
        width: 150px;
        height: 50px;
        border: 2px solid transparent;
        background: #54a0ff;
        color: white;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        margin-bottom: 5px;
    }

    .btn-fill:hover {
        border: 2px solid #54a0ff;
        transition: ease-in-out 0.2s;
        background: white;
        color: #54a0ff;
    }

    .btn-wide {
        width: 25vw !important;
    }
</style>

<main>
    <section>
        <div class="form-content text-center">
            <h1 class="danger">Follow this link to reset your password:</h1>
            <a href="{{ url('password_reset_action', {authString: auth.authString}) }}" class="margin-top">
                <button class="btn-fill btn-wide">Reset password</button>
            </a>
        </div>
    </section>
</main>